@charset "UTF-8";
/*Lukas*/

#flexanzeige{
	display: flex;
	flex-flow: row wrap;
}

#flexanzeige aside{
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*setzt preis in rot*/
.preis{
	 font-weight: bold;
     background-color: rgba(255, 102, 102, 0.5);
     padding: 20px;
     border-radius: 30px;
     display: inline-block;
}