@charset "UTF-8";
/*Tobi*/

#FormularAufgebenFlex {
	display: flex;
  	flex-flow:row wrap; /*horizontale Anordnung der Kindelemente*/
}

label {
  	display:inline-block;
    margin-bottom: 5px;
    padding:10px;
}

/*roter Rahmen für ungültige Eingaben*/
input.rahmenRot:invalid, select.rahmenRot:invalid{
		outline: 3px solid rgb(255, 105, 97);
	}

.beschreibung{
	width:100%;
	height:100%;
}