/*Tobi*/

@charset "UTF-8";

.FormularAufgebenFlex {
	display: flex;
  	flex-flow:row wrap; /*horizontale Anordnung der Kindelemente*/
}



label {
  /*  display:block;*/
    margin-bottom: 5px;
    padding:10px;
    font-weight: bold;
}


/* Abstände zwischen den >Eingabe-Felder*/

input[type="radio"],
input[type="number"],
input[type="text"],
textarea,
select {
    margin-bottom: 10px;
    padding: 10px;
}

/* Aufgeben-Button in die Mitte platzieren*/

.Aufgebenbutton {
	padding: 10px;
	text-align:center;
}
