/*Lukas*/

@charset "ISO-8859-1";

/*Allgemein*/
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
 width: 100%;
 padding: 30px;
 margin: 0px;
}

main {
  padding-top: 45px;
  padding-bottom: 45px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  padding: 15px 30px;
}


/*Navigation*/
nav {
  display: flex;
  justify-content: space-between;
}

.navRechts{
  display: flex;
  justify-content: right;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #666;
}


/*Buttons*/
button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background-color: #3498db;
  border: none;
  color: #333;
}

button:hover {
  background-color: #005fa3;
}

#buttonLogOut {
  padding: 6px 11px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 13px;
}

#buttonLogOut:hover {
  background-color:#005fa3;
  border: 2px solid #005fa3;
  color: #333;
  font-size: 13px;
}

/*Klasse für Links, die wie Buttons ausehen sollen*/
.button {
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background-color: #3498db;
  border: none;
  color: #333;
  font-size: 13px;
}

.button:hover {
  background-color: #005fa3;
   color: #333;
   font-size: 13px;
}


/*Footer*/
footer {
  background-color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer a {
  color: #3498db;
  text-decoration: underline;
  margin-right: 20px;
}

footer a:hover {
  color: #005fa3;
  text-decoration: none;
}


/*Links:*/
a {
  color: #3498db;
  text-decoration: underline;
  margin-right: 5px;
}

a:hover {
  color: #005fa3;
  text-decoration: none;
}

/*Eingabefelder*/
input[type="text"],
input[type="password"], 
input[type="number"],
input[type="email"] {
  padding: 9px;
  border: none;
  border-radius: 15px;
  background-color: #eaeaea;
  width: 30em;
}