/*Tobi*/

@charset "ISO-8859-1";

/*Zentrale Positionierung desFlex-Box-Conatiners und Abstand nach oben 100px */

.centeredflex {
  	text-align:center;
  	display: flex;
  	flex-flow:column wrap; /*vertikale Anordnung der Kindelemente*/
  	align-items:center; /*-> align-center steuert vertikale ausrcihtung der Flex-Box-Kindelemente, hier:mittig*/
  	margin-top:100px;
}


/*Abstände zwichen den Kindelementen der Flex-Box*/

.email {
	padding:10px;
}

.pwd {
  	padding:10px;
}

.loginbutton{
  	padding: 20px;
}

nav#regnav{
	font-weight:bold;
}











