@charset "ISO-8859-1";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	background-color: #3f51b5;
	color: white;
	padding: 20px;
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;
	font-size: 24px;
}

form {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 20px auto;
	max-width: 400px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 16px;
}

button[type="submit"] {
	background-color: #3f51b5;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #1a237e;
}

p {
	font-size: 14px;
	text-align: center;
}

a {
	color: #3f51b5;
	text-decoration: none;
}

footer {
	background-color: #ccc;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	display: inline-block;
	margin-right: 10px;
}

ul li:last-child {
	margin-right: 0;
}

ul li a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}